<% provide(:title, 'About') %>
<h1>About</h1>
<div class="center hero-unit">
  <h2>
    There are 16 different types of personality according to the MBTI.
  </h2>
  <h2>
    Woofer will identify which type you belong based on your cognitive functions.
  </h2>
</div>

