<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="center hero-unit">
  <h2>Click MBTI at the header after log-in, and answer the questions if you like.</h2>
  <h2>The link to your personality type will appear after taking the test.</h2>
</div>

