<% provide(:title, 'Help') %>
<h1>Help</h1>
<ul>
	<li>
	  <p>The email that you registered in Woofer must be linked to 
	  <a href="http://gravatar.com/emails"> gravatar </a> 
	  in order to upload a profile picture.</p>
	</li>
	<li>
	  <p>Link to MBTI test will appear after a succesful sign-in.</p>
	</li>
</ul>

