<!DOCTYPE html>
<html>
<head>
	<title>You Gist</title>
</head>
<body>
	<div class="center hero-unit">
		<h1>Welcome to You Gist</h1>
		<h2>gist | jist |</h2>
		<h2>the substance or essence of speech</h2>
		<h2><a href="http://railstutorial.org/">Click Here</a> to learn more.
		</h2>
		<%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
	</div>
	<%= link_to image_tag("bae.PNG", alt: "Rails"), 'http://rubyonrails.org/' %>
</body>
</html>
