<!DOCTYPE html>
<html>
<head>
	<title>You Gist</title>
</head>
<body>
	<div class="center hero-unit">
		<h1>Welcome to AceBomb</h1>
		<h2>Speak up!</h2>
		<h2>Express yourself</h2>
		<h2><%= link_to "Click Here", 'about' %></a> to learn more.
		</h2>
		<%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
	</div>
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	<p>Powered by Rails</p>
</body>
</html>
