<% provide(:title, 'Judging vs Perceiving') %>
<h1>Judging or Perceiving</h1>

<p>This fourth preference pair describes how you like to live your outer life--what are the behaviors others tend to see? Do you prefer a more structured and decided lifestyle (Judging) or a more flexible and adaptable lifestyle (Perceiving)? This preference may also be thought of as your orientation to the outer world.</p>

<p>Everyone extraverts some of the time. This pair describes whether you extravert (act in the outer world) when you are making decisions or when you are taking in information.</p>

<p>Some people interact with the outside world when they are taking in information. Whether they use the Sensing preference or the Intuitive preference, they are still interacting in the outside world.</p>

<p>Other people do their interacting when they are making decisions. It doesn’t matter whether they are using a Thinking preference or a Feeling preference; they are still interacting in the outside world.</p>

<p>Everyone takes in information some of the time. Everyone makes decisions some of the time. However, when it comes to dealing with the outer world, people who tend to focus on making decisions have a preference for Judging because they tend to like things decided. People who tend to focus on taking in information prefer Perceiving because they stay open to a final decision in order to get more information.</p>

<p>Sometimes people feel they have both. That is true. The J or P preference only tells which preference the person extraverts. One person may feel very orderly/structured (J) on the inside, yet their outer life looks spontaneous and adaptable (P). Another person may feel very curious and open-ended (P) in their inner world, yet their outer life looks more structured or decided (J).</p>

<p>Don’t confuse Judging and Perceiving with a person’s level of organization. Either preference can be organized.</p>

<p>Take a minute to ask yourself which of the following descriptions seems more natural, effortless, and comfortable for you?</p>

<strong><p>Judging (J)</p></strong>
<p>I use my decision-making (Judging) preference (whether it is Thinking or Feeling) in my outer life. To others, I seem to prefer a planned or orderly way of life, like to have things settled and organized, feel more comfortable when decisions are made, and like to bring life under control as much as possible.</p>

<p>Since this pair only describes what I prefer in the outer world, I may, inside, feel flexible and open to new information (which I am).</p>

<p>Do not confuse Judging with judgmental, in its negative sense about people and events. They are not related.</p>

<p>The following statements generally apply to me:</p>
<ul>
    <li><p>I like to have things decided.</p></li>
    <li><p>I appear to be task oriented.</p></li>
    <li><p>I like to make lists of things to do.</p></li>
    <li><p>I like to get my work done before playing.</p></li>
    <li><p>I plan work to avoid rushing just before a deadline.</p></li>
    <li><p>Sometimes I focus so much on the goal that I miss new information.</p></li>
</ul>
<strong><p>Perceiving (P)</p></strong>
<p>I use my perceiving function (whether it is Sensing or Intuition) in my outer life. To others, I seem to prefer a flexible and spontaneous way of life, and I like to understand and adapt to the world rather than organize it. Others see me staying open to new experiences and information.</p>

<p>Since this pair only describes what I prefer in the outer world, inside I may feel very planful or decisive (which I am).</p>

<p>Remember, in type language perceiving means “preferring to take in information.” It does not mean being “perceptive” in the sense of having quick and accurate perceptions about people and events.</p>

<p>The following statements generally apply to me:</p>
<ul>
    <li><p>I like to stay open to respond to whatever happens.</p></li>
    <li><p>I appear to be loose and casual. I like to keep plans to a minimum.</p></li>
    <li><p>I like to approach work as play or mix work and play.</p></li>
    <li><p>I work in bursts of energy.</p></li>
    <li><p>I am stimulated by an approaching deadline.</p></li>
    <li><p>Sometimes I stay open to new information so long I miss making decisions when they are needed.</p></li>
</ul>
<p>Adapted from Looking at Type: The Fundamentals
by Charles R. Martin (CAPT 1997)</p>