<% provide(:title, 'Sensing vs Intuiting') %>
<h1>Sensing or Intuiting</h1>

<p>The second pair of psychological preferences is Sensing and Intuition. Do you pay more attention to information that comes in through your five senses (Sensing), or do you pay more attention to the patterns and possibilities that you see in the information you receive (Intuition)?</p>

<p>Everyone spends some time Sensing and some time using Intuition. Don’t confuse Sensing with sensual. They aren’t related.</p>

<p>Take a minute to ask yourself which of the following descriptions seems more natural, effortless, and comfortable for you?</p>

<strong><p>Sensing (S)</p></strong>
<p>Paying attention to physical reality, what I see, hear, touch, taste, and smell. I’m concerned with what is actual, present, current, and real. I notice facts and I remember details that are important to me. I like to see the practical use of things and learn best when I see how to use what I’m learning. Experience speaks to me louder than words.</p>

<p>The following statements generally apply to me:</p>
<ul>
    <li><p>I remember events as snapshots of what actually happened.</p></li>
    <li><p>I solve problems by working through facts until I understand the problem.</p></li>
    <li><p>I am pragmatic and look to the “bottom line.”</p></li>
    <li><p>I start with facts and then form a big picture.</p></li>
    <li><p>I trust experience first and trust words and symbols less.</p></li>
    <li><p>Sometimes I pay so much attention to facts, either present or past, that I miss new possibilities.</p></li>
</ul>
<strong><p>Intuition (N)</p></strong>
<p>Paying the most attention to impressions or the meaning and patterns of the information I get. I would rather learn by thinking a problem through than by hands-on experience. I’m interested in new things and what might be possible, so that I think more about the future than the past. I like to work with symbols or abstract theories, even if I don’t know how I will use them. I remember events more as an impression of what it was like than as actual facts or details of what happened.</p>

<p>The following statements generally apply to me:</p>
<ul>
    <li><p>I remember events by what I read “between the lines” about their meaning.</p></li>
    <li><p>I solve problems by leaping between different ideas and possibilities.</p></li>
    <li><p>I am interested in doing things that are new and different.</p></li>
    <li><p>I like to see the big picture, then to find out the facts.</p></li>
    <li><p>I trust impressions, symbols, and metaphors more than what I actually experienced</p></li>
    <li><p>Sometimes I think so much about new possibilities that I never look at how to make them a reality.</p></li>
</ul>
<p>Adapted from Looking at Type: The Fundamentals
by Charles R. Martin (CAPT 1997)</p>