<% provide(:title, 'Thinking vs Feeling') %>
<h1>Thinking or Feeling</h1>

<p>This third preference pair describes how you like to make decisions. Do you like to put more weight on objective principles and impersonal facts (Thinking) or do you put more weight on personal concerns and the people involved (Feeling)?</p>

<p>Don’t confuse Feeling with emotion. Everyone has emotions about the decisions they make. Also do not confuse Thinking with intelligence.</p>

<p>Everyone uses Thinking for some decisions and Feeling for others. In fact, a person can make a decision using his or her preference, then test the decision by using the other preference to see what might not have been taken into account.</p>

<p>Take a minute to ask yourself which of the following descriptions seems more natural, effortless, and comfortable for you?</p>

<strong><p>Thinking (T)</p></strong>
<p>When I make a decision, I like to find the basic truth or principle to be applied, regardless of the specific situation involved. I like to analyze pros and cons, and then be consistent and logical in deciding. I try to be impersonal, so I won’t let my personal wishes--or other people’s wishes--influence me.</p>

<p>The following statements generally apply to me:</p>
<ul>
    <li><p>I enjoy technical and scientific fields where logic is important.</p></li>
    <li><p>I notice inconsistencies.</p></li>
    <li><p>I look for logical explanations or solutions to most everything.</p></li>
    <li><p>I make decisions with my head and want to be fair.</p></li>
    <li><p>I believe telling the truth is more important than being tactful.</p></li>
    <li><p>Sometimes I miss or don’t value the “people” part of a situation.</p></li>
    <li><p>I can be seen as too task-oriented, uncaring, or indifferent.</p></li></p></li>
</ul>
<strong><p>Feeling (F)</p></strong>
<p>I believe I can make the best decisions by weighing what people care about and the points-of-view of persons involved in a situation. I am concerned with values and what is the best for the people involved. I like to do whatever will establish or maintain harmony. In my relationships, I appear caring, warm, and tactful.</p>

<p>The following statements generally apply to me:</p>
<ul>
    <li><p>I have a people or communications orientation.</p></li>
    <li><p>I am concerned with harmony and nervous when it is missing.</p></li>
    <li><p>I look for what is important to others and express concern for others.</p></li>
    <li><p>I make decisions with my heart and want to be compassionate.</p></li>
    <li><p>I believe being tactful is more important than telling the “cold” truth.</p></li>
    <li><p>Sometimes I miss seeing or communicating the “hard truth” of situations.</p></li>
    <li><p>I am sometimes experienced by others as too idealistic, mushy, or indirect.</p></li>
</ul>
<p>Adapted from Looking at Type: The Fundamentals
by Charles R. Martin (CAPT 1997)</p>